---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
			<h1>Site Under Development</h1>
			<p>
				Welcome to the API Experience. I'm currently working on enhancing the site. Something exciting is coming soon!
			</p>
		</main>
		<Footer />
	</body>
</html>
